---
import FAQ from "./FAQ.astro";

interface FAQ {
  question: string;
  answer: string;
}

const { faqs } = Astro.props;
---

<div class="mx-auto max-w-3xl">
  {faqs.map((faq: FAQ) => <FAQ question={faq.question} answer={faq.answer} />)}
</div>
