---
const { id, topColor = "#fceecf", bottomColor = "#78c7e7" } = Astro.props;
---

<div id={id} class="wave-divider">
  <svg viewBox="0 0 1440 120" preserveAspectRatio="none">
    <!-- Onda de fondo -->
    <path class="wave-fill" d="M0,60 
      C60,60 60,80 120,80 
      C180,80 180,60 240,60 
      C300,60 300,80 360,80 
      C420,80 420,60 480,60 
      C540,60 540,80 600,80 
      C660,80 660,60 720,60 
      C780,60 780,80 840,80 
      C900,80 900,60 960,60 
      C1020,60 1020,80 1080,80 
      C1140,80 1140,60 1200,60 
      C1260,60 1260,80 1320,80 
      C1380,80 1380,60 1440,60 
      L1440,120 L0,120 Z" 
    />
    <!-- Borde negro que sigue la onda -->
    <path class="wave-border" d="M0,60 
      C60,60 60,80 120,80 
      C180,80 180,60 240,60 
      C300,60 300,80 360,80 
      C420,80 420,60 480,60 
      C540,60 540,80 600,80 
      C660,80 660,60 720,60 
      C780,60 780,80 840,80 
      C900,80 900,60 960,60 
      C1020,60 1020,80 1080,80 
      C1140,80 1140,60 1200,60 
      C1260,60 1260,80 1320,80 
      C1380,80 1380,60 1440,60"
      fill="none"
      stroke="black"
      stroke-width="3"
    />
  </svg>
</div>

<style define:vars={{ topColor, bottomColor }}>
  .wave-divider {
    position: relative;
    width: 100%;
    height: 120px;
    background-color: var(--topColor);
    margin: 0;
    padding: 0;
    display: block;
  }

  .wave-divider svg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
  }

  .wave-fill {
    fill: var(--bottomColor);
  }

  .wave-border {
    filter: drop-shadow(3px 3px 0 rgba(0,0,0,0.3));
  }
</style> 