---
---

<a href="https://wa.me/34608962213" class="fixed bg-[#25D366] rounded-full p-2 w-14 h-14 flex items-center justify-center lg:bottom-6 lg:right-6 bottom-4 right-4 z-50">
  <img src="/WhatsApp.svg" alt="Whatsapp" class="w-8 h-8" />
</a>