---
import CookieConsent from "../components/CookieConsent.astro";
import IntersectionObserver from "../components/IntersectionObserver.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es" class="h-full motion-safe:scroll-smooth">
  <head>
    <!-- Google Tag Manager -->
    <script is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WV5P6GRH");
    </script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body class="h-full overflow-x-hidden bg-default text-default text-base">
    <!-- Google Tag Manager (noscript) -->
    <iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-ABCDEFGH"
      height="0"
      width="0"
      style="display:none;visibility:hidden" />
    <!-- End Google Tag Manager (noscript) -->

    <slot />
    <CookieConsent />
    <IntersectionObserver />
  </body>
</html>
